<div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
    <div class="mb-2 mb-md-0 appHeaderTitle">
        <h2 class="mb-0">Gestión de Editoriales</h2>
        <p class="mb-0">{{ estudiantes.length }} editoriales encontradas</p>
    </div>

    <div class="input-group w-100 w-md-auto" style="max-width: 20rem;">
        <input
            type="text"
            class="form-control"
            placeholder="Buscar estudiante por código..."
            aria-label="Buscar estudiante"
            [(ngModel)]="nameSearchFilter"
            (keyup.enter)="getByName()"
        >
        <span class="input-group-text" role="button" (click)="getByName()">
            <i class="bi bi-search"></i>
        </span>
    </div>
</div>

<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal" (click)="setUpdateFalse()">
        Agregar <i class="bi bi-plus ms-1"></i>
    </button>
</div>

<div class="table-responsive contentTable">
    <table class="table table-hover mb-0">
        <colgroup>
            <col style="width: 5%;">
            <col style="width: 10%;">  <!-- Codigo --> 
            <col style="width: 15%;"> <!-- Nombre --> 
            <col style="width: 15%;"> <!-- Apellido --> 
            <col style="width: 15%;"> <!-- Correo --> 
            <col style="width: 15%;"> <!-- Phone --> 
            <col style="width: 15%;"> <!-- Status --> 
            <col style="width: 10%;"> <!-- Date --> 
        </colgroup>

        <thead class="sticky-top bg-light">
            <tr class="align-top">
                <th class="text-center"></th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Número</th>
                <th>Estado</th>
                <th>Fecha Creación</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td class="text-center align-top">
                    <button class="btn btn-link p-0" (click)="preparaEditar(estudiante)" data-bs-toggle="modal" data-bs-target="#newModal">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
                <td class="align-top">{{ estudiante.studentCode }}</td>
                <td class="align-top">{{ estudiante.firstName }}</td>
                <td class="align-top">{{ estudiante.lastName }}</td>
                <td class="align-top">{{ estudiante.email }}</td>
                <td class="align-top">{{ estudiante.phone }}</td>
                <td class="align-top">{{ estudiante.status }}</td>
                <td class="align-top">{{ estudiante.createdAt| date:'shortDate' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="newModalLabel">{{ onUpdate ? 'Actualizar Estudiante' : 'Nuevo Estudiante' }}</h5>
                <button 
                type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form #estudianteForm="ngForm">
                    <div class="mb-3">
                        <label for="codeInput" class="form-label">Código</label>
                        <input
                        type="text"
                        id="codeInput"
                        name="studentCode"
                        class="form-control"
                        placeholder="Escribe el código del estudiante"
                        required
                        [(ngModel)]="nuevoEstudiante.studentCode"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="firstNameInput" class="form-label">Nombre(s)</label>
                        <input
                        type="text"
                        id="firstNameInput"
                        name="firstName"
                        class="form-control"
                        placeholder="Escribe el/los nombre(s)"
                        required
                        [(ngModel)]="nuevoEstudiante.firstName"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="lastNameInput" class="form-label">Apellido(s)</label>
                        <input
                        type="text"
                        id="lastNameInput"
                        name="lastName"
                        class="form-control"
                        placeholder="Escribe el/los apellido(s)"
                        required
                        [(ngModel)]="nuevoEstudiante.lastName"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Correo electrónico</label>
                        <input
                        type="email"
                        id="emailInput"
                        name="email"
                        class="form-control"
                        placeholder="Escribe el correo electrónico"
                        required
                        [(ngModel)]="nuevoEstudiante.email"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="phoneInput" class="form-label">Teléfono</label>
                        <input
                        type="tel"
                        id="phoneInput"
                        name="phone"
                        class="form-control"
                        placeholder="+505-88888888"
                        required
                        [(ngModel)]="nuevoEstudiante.phone"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="statusInput" class="form-label">Estado</label>
                        <select
                            id="statusInput"
                            name="status"
                            class="form-control"
                            required
                            [(ngModel)]="nuevoEstudiante.status"
                        >
                            <option value="ACTIVO" selected>ACTIVO</option>
                            <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    data-bs-dismiss="modal"
                >
                    Cancelar
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="preSave()"
                    data-bs-dismiss="modal"
                    >
                    {{ onUpdate ? 'Actualizar' : 'Guardar' }}
                </button>
            </div>

        </div>
    </div>
</div>

<div id="spinner-container" class="spinner-overlay" role="status" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
</div>