@use 'variables';
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.appHeaderTitle {
    h2 {
        font-weight: 700;
        color: variables.$black;
    }

    p {
        font-size: 1.1rem;
        font-weight: 600;
        color: variables.$gray;
    }
}

.contentTable {
    max-height: 75%; 
    overflow-y: auto;

    @media (max-width: 700px) {
        max-height: 65%;
    }
}

.mensajeAlerta {
    display: flex;
    width: 25rem;
    height: 5rem;
    border-radius: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: calc(50% - 12.5rem);
    top: 3%;
    z-index: 9999;
    animation: fadeInOut 3s ease-in-out;

    img {
        width: 2rem;
        margin-left: 2rem;
    }

    p {
        margin-bottom: 0rem;
        margin-left: 1rem;
        color: variables.$white;
        font-weight: 500;
        font-size: 1.3rem;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.mensajeSuccess {
    background-color: variables.$green;
}

.mensajeError {
    background-color: variables.$red;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1050;
}

